*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
img{
    flex: 0 0 30%;
    margin: 20px;
}